* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 25px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background: #222;
}

.calculator {
    background: black;
    width: 300px;
    height: 500px;
    padding: 20px;
    color: white;
    border-radius: 30px;
    position: static;
}

.display {
    font-size: 60px;
    font-weight: 300;
    margin-bottom: 20px;
    height: 80px;
    text-align: right;
    padding: 10px;
    background: #333;
    border-radius: 10px;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button {
    height: 60px;
    width: 60px;
    font-size: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    background: #333;
    color: white;
}

.function {
    background: #a5a5a5;
    color: black;
}

.operator {
    background: #f1a33c;
}

.number-0 {
    grid-column: span 2; 
    width: 100%; 
    border-radius: 30px;
    padding-right: 70px;
}

.button:active,
.button:focus {
  filter: brightness(120%);
}

.bottom {
    width: 200px;
    height: 5px;
    background: white;
    border-radius: 4px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}